/** Los estilos que siguen a continuación, hacen parte de una librería llamada 
    normalize.css. Esta "resetea" los estilos, de tal manera que en cada navegador
    haya una uniformidad en cómo se visualizan los estilos. */

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */


/* Document
   ========================================================================== */


/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

 @import url("https://fonts.googleapis.com/css?family=Merriweather|PT+Serif");
 html {
     line-height: 1.15;
     /* 1 */
     -ms-text-size-adjust: 100%;
     /* 2 */
     -webkit-text-size-adjust: 100%;
     /* 2 */
 }
 
 
 /* Sections
    ========================================================================== */
 
 
 /**
  * Remove the margin in all browsers (opinionated).
  */
 
 body {
     margin: 0;
 }
 
 
 /**
  * Add the correct display in IE 9-.
  */
 
 article,
 aside,
 footer,
 header,
 nav,
 section {
     display: block;
 }
 
 
 /**
  * Correct the font size and margin on `h1` elements within `section` and
  * `article` contexts in Chrome, Firefox, and Safari.
  */
 
 h1 {
     font-size: 2em;
     margin: 0.67em 0;
 }
 
 
 /* Grouping content
    ========================================================================== */
 
 
 /**
  * Add the correct display in IE 9-.
  * 1. Add the correct display in IE.
  */
 
 figcaption,
 figure,
 main {
     /* 1 */
     display: block;
 }
 
 
 /**
  * Add the correct margin in IE 8.
  */
 
 figure {
     margin: 1em 40px;
 }
 
 
 /**
  * 1. Add the correct box sizing in Firefox.
  * 2. Show the overflow in Edge and IE.
  */
 
 hr {
     box-sizing: content-box;
     /* 1 */
     height: 0;
     /* 1 */
     overflow: visible;
     /* 2 */
 }
 
 
 /**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */
 
 pre {
     font-family: monospace, monospace;
     /* 1 */
     font-size: 1em;
     /* 2 */
 }
 
 
 /* Text-level semantics
    ========================================================================== */
 
 
 /**
  * 1. Remove the gray background on active links in IE 10.
  * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
  */
 
 a {
     background-color: transparent;
     /* 1 */
     -webkit-text-decoration-skip: objects;
     /* 2 */
 }
 
 
 /**
  * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
  * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
  */
 
 abbr[title] {
     border-bottom: none;
     /* 1 */
     text-decoration: underline;
     /* 2 */
     text-decoration: underline dotted;
     /* 2 */
 }
 
 
 /**
  * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
  */
 
 b,
 strong {
     font-weight: inherit;
 }
 
 
 /**
  * Add the correct font weight in Chrome, Edge, and Safari.
  */
 
 b,
 strong {
     font-weight: bolder;
 }
 
 
 /**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */
 
 code,
 kbd,
 samp {
     font-family: monospace, monospace;
     /* 1 */
     font-size: 1em;
     /* 2 */
 }
 
 
 /**
  * Add the correct font style in Android 4.3-.
  */
 
 dfn {
     font-style: italic;
 }
 
 
 /**
  * Add the correct background and color in IE 9-.
  */
 
 mark {
     background-color: #ff0;
     color: #000;
 }
 
 
 /**
  * Add the correct font size in all browsers.
  */
 
 small {
     font-size: 80%;
 }
 
 
 /**
  * Prevent `sub` and `sup` elements from affecting the line height in
  * all browsers.
  */
 
 sub,
 sup {
     font-size: 75%;
     line-height: 0;
     position: relative;
     vertical-align: baseline;
 }
 
 sub {
     bottom: -0.25em;
 }
 
 sup {
     top: -0.5em;
 }
 
 
 /* Embedded content
    ========================================================================== */
 
 
 /**
  * Add the correct display in IE 9-.
  */
 
 audio,
 video {
     display: inline-block;
 }
 
 
 /**
  * Add the correct display in iOS 4-7.
  */
 
 audio:not([controls]) {
     display: none;
     height: 0;
 }
 
 
 /**
  * Remove the border on images inside links in IE 10-.
  */
 
 img {
     border-style: none;
 }
 
 
 /**
  * Hide the overflow in IE.
  */
 
 svg:not(:root) {
     overflow: hidden;
 }
 
 
 /* Forms
    ========================================================================== */
 
 
 /**
  * 1. Change the font styles in all browsers (opinionated).
  * 2. Remove the margin in Firefox and Safari.
  */
 
 button,
 input,
 optgroup,
 select,
 textarea {
     font-family: sans-serif;
     /* 1 */
     font-size: 100%;
     /* 1 */
     line-height: 1.15;
     /* 1 */
     margin: 0;
     /* 2 */
 }
 
 
 /**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */
 
 button,
 input {
     /* 1 */
     overflow: visible;
 }
 
 
 /**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */
 
 button,
 select {
     /* 1 */
     text-transform: none;
 }
 
 
 /**
  * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
  *    controls in Android 4.
  * 2. Correct the inability to style clickable types in iOS and Safari.
  */
 
 button,
 html [type="button"],
 [type="reset"],
 [type="submit"] {
     -webkit-appearance: button;
     /* 2 */
 }
 
 
 /**
  * Remove the inner border and padding in Firefox.
  */
 
 button::-moz-focus-inner,
 [type="button"]::-moz-focus-inner,
 [type="reset"]::-moz-focus-inner,
 [type="submit"]::-moz-focus-inner {
     border-style: none;
     padding: 0;
 }
 
 
 /**
  * Restore the focus styles unset by the previous rule.
  */
 
 button:-moz-focusring,
 [type="button"]:-moz-focusring,
 [type="reset"]:-moz-focusring,
 [type="submit"]:-moz-focusring {
     outline: 1px dotted ButtonText;
 }
 
 
 /**
  * Correct the padding in Firefox.
  */
 
 fieldset {
     padding: 0.35em 0.75em 0.625em;
 }
 
 
 /**
  * 1. Correct the text wrapping in Edge and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  * 3. Remove the padding so developers are not caught out when they zero out
  *    `fieldset` elements in all browsers.
  */
 
 legend {
     box-sizing: border-box;
     /* 1 */
     color: inherit;
     /* 2 */
     display: table;
     /* 1 */
     max-width: 100%;
     /* 1 */
     padding: 0;
     /* 3 */
     white-space: normal;
     /* 1 */
 }
 
 
 /**
  * 1. Add the correct display in IE 9-.
  * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
  */
 
 progress {
     display: inline-block;
     /* 1 */
     vertical-align: baseline;
     /* 2 */
 }
 
 
 /**
  * Remove the default vertical scrollbar in IE.
  */
 
 textarea {
     overflow: auto;
 }
 
 
 /**
  * 1. Add the correct box sizing in IE 10-.
  * 2. Remove the padding in IE 10-.
  */
 
 [type="checkbox"],
 [type="radio"] {
     box-sizing: border-box;
     /* 1 */
     padding: 0;
     /* 2 */
 }
 
 
 /**
  * Correct the cursor style of increment and decrement buttons in Chrome.
  */
 
 [type="number"]::-webkit-inner-spin-button,
 [type="number"]::-webkit-outer-spin-button {
     height: auto;
 }
 
 
 /**
  * 1. Correct the odd appearance in Chrome and Safari.
  * 2. Correct the outline style in Safari.
  */
 
 [type="search"] {
     -webkit-appearance: textfield;
     /* 1 */
     outline-offset: -2px;
     /* 2 */
 }
 
 
 /**
  * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
  */
 
 [type="search"]::-webkit-search-cancel-button,
 [type="search"]::-webkit-search-decoration {
     -webkit-appearance: none;
 }
 
 
 /**
  * 1. Correct the inability to style clickable types in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */
 
 ::-webkit-file-upload-button {
     -webkit-appearance: button;
     /* 1 */
     font: inherit;
     /* 2 */
 }
 
 
 /* Interactive
    ========================================================================== */
 
 
 /*
  * Add the correct display in IE 9-.
  * 1. Add the correct display in Edge, IE, and Firefox.
  */
 
 details,
 menu {
     display: block;
 }
 
 
 /*
  * Add the correct display in all browsers.
  */
 
 summary {
     display: list-item;
 }
 
 
 /* Scripting
    ========================================================================== */
 
 
 /**
  * Add the correct display in IE 9-.
  */
 
 canvas {
     display: inline-block;
 }
 
 
 /**
  * Add the correct display in IE.
  */
 
 template {
     display: none;
 }
 
 
 /* Hidden
    ========================================================================== */
 
 
 /**
  * Add the correct display in IE 10-.
  */
 
 [hidden] {
     display: none;
 }
 
 /** 
     FIN DE LA LIBRERÍA normalize.css.
 **/
 
 /**
     Inicio estilos propios. Se hace un comentario en la primera aparición del atributo, y se omite en 
     las apariciones subsiguientes.
 **/
 
 /* Se establece el color negro para los links, y se le quita la línea debajo del texto */
 .nav-menu .menu-item a:link,
 .nav-menu .menu-item a:visited,
 .nav-menu .menu-item a:hover,
 .nav-menu .menu-item a:active {
     color: #000;
     text-decoration: none;
 }
 
 body {
     /* Se usa Flexbox para el layout de la página. */
     display: flex;
     /* La dirección de alineación de los elementos es vertical */
     flex-direction: column;
     font-family: 'PT serif';
     font-size: 20px;
     min-height: 100vh;
 }
 
 .header {
     /* Se alinean los elementos (verticalmente) en el centro */
     align-items: center;
     /* La imagen de fondo es fija. */
     background-attachment: fixed;
     background-image: url("../img/canada_flag.jpg");
     /* Se centra la imagen */
     background-position: center center;
     /* La imagen se expande para cubrir el contenedor */
     background-size: cover;
     border-top: 3px #8b0000 solid;
     display: flex;
     /* La disposición de los elementos es vertical, permitiendo que estos se envuelvan en caso
         de un overflow */
     flex-flow: column wrap;
     /* Los elementos se alinean en el centro (horizontalmente) */
     justify-content: center;
     /* La altura mínima es 70% de la altura del viewport */
     min-height: 70vh;
 }
 
 @media screen and (max-width: 780px) {
     .header {
         border-top: 5px #8b0000 solid;
     }
 }
 
 /* Se cambia la imagen de fondo del header, dependiendo de la ciudad. */
 .header.toronto {
     background-image: url("../img/toronto.jpg");
 }
 
 .header.montreal {
     background-image: url("../img/montreal.jpg");
 }
 
 .header.vancouver {
     background-image: url("../img/vancouver.jpg");
 }
 
 .header.calgary {
     background-image: url("../img/calgary.jpg");
 }
 
 .header.attr {
     background-image: url("../img/canada_trail.jpg");
 }
 
 .header .title {
     font-size: 35px;
 }
 
 .header .title.big {
     font-size: 50px;
 }
 
 .header .title.bg-light {
     background-color: rgba(245, 245, 245, 0.7);
     /* Se le aplica una sombra al título */
     box-shadow: 2px 2px 10px 0 #000;
     display: flex;
     justify-content: center;
     padding: 25px 0;
     width: 100%;
 }
 
 .title,
 .nav-menu .menu-item {
     font-family: 'Merriweather';
     font-weight: normal;
 }
 
 @media screen and (max-width: 480px) {
     .title {
         text-align: center;
     }
 }
 
 .nav-menu {
     background-color: rgba(245, 245, 245, 0.96);
     border-top: 2px #8b0000 solid;
     box-shadow: 1px 1px 3px 0 #000;
     height: 50px;
     /* El menu se hace 'pegadizo', de tal manera que cuando se hace scroll, siga en el tope */
     position: sticky;
     top: 0;
     /* Se le da un valor alto en el z-index para que ningún elemento esté visualmente encima */
     z-index: 99;
 }
 
 @media screen and (max-width: 480px) {
     .nav-menu {
         height: unset;
         position: initial;
     }
 }
 
 @media screen and (max-width: 780px) {
     .nav-menu {
         border-top: 4px #8b0000 solid;
     }
 }
 
 .nav-menu .menu {
     /* Se usa Flexbox como modelo de layout */
     display: flex;
     height: 100%;
     /* Los elementos van a estar espaciados entre ellos */
     justify-content: space-between;
     /* Se remueven los 'bullet-points' de la lista */
     list-style-type: none;
     margin: 0;
     padding: 0 10%;
 }
 
 @media screen and (max-width: 480px) {
     .nav-menu .menu {
         align-items: center;
         flex-direction: column;
     }
 }
 
 .nav-menu .menu-item {
     align-items: center;
     display: flex;
     padding: 0 15px;
 }
 
 @media screen and (max-width: 480px) {
     .nav-menu .menu-item {
         padding: 5px 0;
     }
 }
 
 .nav-menu .menu-item.active a {
     color: #8b0000;
 }
 
 .nav-menu .menu-item a {
     /* Se quita el 'recubrimiento' del link cuando se hace click en este */
     outline: none;
     /* Animación cuando se hace una transición */
     transition: .2s ease-in-out;
 }
 
 .nav-menu .menu-item a:hover {
     color: #8b0000;
     /* Cuando el cursor se pose encima del link, se escala el link */
     transform: scale(1.1, 1.1);
 }
 
 .content {
     /* Se establece flex-shrink flex-wrap y flex-basis. Esto se hace para tener un 'sticky footer',
     es decir, para que el footer esté siempre al final de la página */
     flex: 1 0 auto;
     margin: 50px auto;
     width: 70%;
 }
 
 @media screen and (max-width: 480px) {
     .content {
         margin: 5px auto;
     }
 }
 
 .content p {
     /* Se aumenta el tamaño de la línea, para que el texto esté más espaciado */
     line-height: 1.3;
 }
 
 .content figure {
     align-items: center;
     display: flex;
     flex-flow: column wrap;
     margin: 30px 0;
     padding: 30px;
 }
 
 @media screen and (max-width: 480px) {
     .content figure {
         padding: 0;
     }
 }
 
 .content figure figcaption {
     margin: 20px 0;
 }
 
 .content figure img {
     width: 60%;
 }
 
 @media screen and (max-width: 480px) {
     .content figure img {
         width: 100%;
     }
 }
 
 .content figure img.rounded {
     border-radius: 10px;
 }
 
 ul li {
     color: #8b0000;
     line-height: 1.7;
 }
 
 ul li span {
     color: #000;
 }
 
 ul li a {
     color: #000;
     text-decoration: none;
 }
 
 ul li a:visited {
     color: #000;
 }
 
 footer {
     background-color: #8b0000;
     color: whitesmoke;
     display: flex;
     flex-wrap: wrap;
     font-family: 'Merriweather';
     font-size: .8em;
     justify-content: center;
     padding: 30px;
 }
 
 @media screen and (max-width: 480px) {
     footer {
         text-align: center;
     }
 }
 
 footer p {
     display: flex;
     font-weight: bold;
     justify-content: center;
     margin: 5px 10px;
 }
 
 footer .about {
     width: 100%;
 }
 
 footer .about a:active,
 footer .about a:link,
 footer .about a:visited {
     color: whitesmoke;
 }
 
 footer .name {
     width: 100%;
 }
 
 footer .org {
     font-size: 1.1em;
 }
 
 .jump-link {
     display: flex;
     font-size: .9em;
     justify-content: flex-end;
     padding: 15px 30px;
 }
 
 .jump-link a {
     color: #8b0000;
 }
 
 a:active,
 a:link,
 a:hover,
 a:visited {
     color: #8b0000;
 }

h5 a:active,
h5 a:link,
h5 a:hover,
h5 a:visited {
    color: #8b0000;
}