@import url('https://fonts.googleapis.com/css?family=Merriweather|PT+Serif');

$main-red: #8b0000;
$main-light: rgb(245, 245, 245);
$main-dark: #000;
$title-font-size: 30px;
$title-bg-light: $main-light;
$title-bg-shadow-color: #000;

$link-def-color: #000;
