@import 'normalize';
@import 'variables';

%norm-link-prop {
  color: $link-def-color;
  text-decoration: none;
}

@mixin normalize-links {
  a {
    $pclasses: 'link', 'visited', 'hover', 'active';

    @each $pc in $pclasses {
      &:#{$pc} {
        @extend %norm-link-prop;
      }
    }
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'PT serif';
  font-size: 20px;
  min-height: 100vh;
}

.header {
  align-items: center;
  background-attachment: fixed;
  background-image: url('../img/canada_flag.jpg');
  background-position: center center;
  background-size: cover;
  border-top: 3px $main-red solid;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: 70vh;

  @media screen and (max-width: 780px) {
    border-top: 5px $main-red solid;
  }

  &.toronto {
    background-image: url('../img/toronto.jpg');
  }

  &.montreal {
    background-image: url('../img/montreal.jpg');
  }

  &.vancouver {
    background-image: url('../img/vancouver.jpg');
  }

  &.calgary {
    background-image: url('../img/calgary.jpg');
  }

  &.attr {
    background-image: url('../img/canada_trail.jpg');
  }

  .title {
    font-size: $title-font-size + 5px;

    &.big {
      font-size: $title-font-size + 20px;
    }

    &.bg-light {
      background-color: rgba($title-bg-light, .7);
      box-shadow: 2px 2px 10px 0 $title-bg-shadow-color;
      display: flex;
      justify-content: center;
      padding: 25px 0;
      width: 100%;
    }
  }
}

%font-set {
  font-family: 'Merriweather';
  font-weight: normal;
}

.title {
  @extend %font-set;

  @media screen and (max-width: 480px) {
    text-align: center;
  }
}

.nav-menu {
  background-color: rgba($title-bg-light, .96);
  border-top: 2px $main-red solid;
  box-shadow: 1px 1px 3px 0 $title-bg-shadow-color;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 99;

  @media screen and (max-width: 480px) {
    height: unset;
    position: initial;
  }

  @media screen and (max-width: 780px) {
    border-top: 4px $main-red solid;
  }

  .menu {
    display: flex;
    height: 100%;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0 10%;

    @media screen and (max-width: 480px) {
      align-items: center;
      flex-direction: column;
    }
  }

  .menu-item {
    @extend %font-set;
    @include normalize-links;

    align-items: center;
    display: flex;
    padding: 0 15px;

    @media screen and (max-width: 480px) {
      padding: 5px 0;
    }

    &.active {
      a {
        color: $main-red;
      }
    }

    a {
      outline: none;
      transition: .2s ease-in-out;

      &:hover {
        color: $main-red;
        transform: scale(1.1, 1.1);
      }
    }
  }
}

.content {
  flex: 1 0 auto;
  margin: 50px auto;
  width: 70%;

  @media screen and (max-width: 480px) {
    margin: 5px auto;
  }

  p {
    line-height: 1.3;
  }

  figure {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    margin: 30px 0;
    padding: 30px;

    @media screen and (max-width: 480px) {
      padding: 0;
    }

    figcaption {
      margin: 20px 0;
    }

    img {
      width: 60%;

      @media screen and (max-width: 480px) {
        width: 100%;
      }

      &.rounded {
        border-radius: 10px;
      }
    }
  }
}

ul {
  li {
    color: $main-red;
    line-height: 1.7;

    span {
      color: $main-dark;
    }

    a {
      color: $main-dark;
      text-decoration: none;

      &:visited {
        color: $main-dark;
      }
    }
  }
}

footer {
  background-color: $main-red;
  color: $main-light;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Merriweather';
  font-size: .8em;
  justify-content: center;
  padding: 30px;

  @media screen and (max-width: 480px) {
    text-align: center;
  }

  p {
    display: flex;
    font-weight: bold;
    justify-content: center;
    margin: 5px 10px;
  }

  .about {
    width: 100%;

    a {
      &:active,
      &:link,
      &:visited {
        color: $main-light;
      }
    }
  }

  .name {
    width: 100%;
  }

  .org {
    font-size: 1.1em;
  }
}

.jump-link {
  display: flex;
  font-size: .9em;
  justify-content: flex-end;
  padding: 15px 30px;

  a {
    color: $main-red;
  }
}

h5 {
  a {
    &:active,
    &:link,
    &:hover,
    &:visited {
      color: $main-red;
    }
  }
}
